<div style="background-color: black; width: 100px; height: 100px; vertical-align: middle;" >
<center>
<table cellpadding="0" cellspacing="0" style="background-color: white; width: 100px; height: 100px;border-color: black;" >
<tr>
	<td>
		<table cellpadding="10" cellspacing="5" width="100px"  border="1" style="background-color: white; width: 100px; height: 100px;">
			<tbody>
				<tr>
					<td style="color: green; background-color: red; font-weight: lighter;" align="center"></td>
				</tr>
					
				<tr>
					<td style="text-align: center; font-size: 30px;font-family: serif;" align="center">
					<h1>SECTION</h1>  <br><br><b>FLR</b>
					<br></td>
					
				</tr>
				
				<tr><td style="background-color: red; color: red;"></td></tr>
				
				<tr>
					<td style="text-align: center; font-size: 30px;font-family: serif;" align="center">
					<h1>ROW</h1><br><br><b>A</b></td>
					
				</tr>
				<tr>
					<td style="color: green; background-color: red;" align="center"></td>
				</tr>
			</tbody>
		</table>
	 </td>
	</tr>
</table>
</center>
</div>
